<title>{{title}}</title>
{{#each scripts as |script|}}
    {{#if script.head}}
        {{#if script.url}}
            <script src="{{script.url}}"></script>
        {{else}}
            {{{script.raw}}}
        {{/if}}
    {{/if}}
{{/each}}
{{#each styles as |style|}}
    <link rel="stylesheet" href="{{style}}">
{{/each}}